:root {
  --bg-color: rgb(81, 141, 251);
  --primary-color: rgb(64, 102, 205);
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: 'Gill sans', sans-serif;
  list-style: none;
  transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

section {
  padding: 2rem 6rem;
}
